*{  
    --text: #dfe0fd;
    --border: #dfe0fd96;
    --background: #232427;
    --second-background: hsla(0, 0%, 43%, 0.058);
    --primary: #7d87f5;
    --secondary: #830ca4;
    --accent: #e124ee;
}

body {
  font-family: 'Victor Mono';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
    
    font-family: 'Walter Turncoat';
    font-weight: 700;
}

header {
    font-family: 'Walter Turncoat';
    font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 3.053rem; /* 48.8px */}

h2 {font-size: 2.442rem; /* 39.04px */}

h3 {font-size: 1.954rem; /* 31.2px */}

h4 {font-size: 1.563rem; /* 24.96px */}

h5 {font-size: 1.250rem; /* 20px */}

small {font-size: 0.800rem; /* 12.8px */}

html {
    background-color: var(--background);
    color: var(--text);
  }
  
body {
    margin: 0;
    width: 100%;
    line-height: 1.5;
}
  
* {
    z-index: 1;
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

  
.nav-links {
    width: 100%;
    text-align: center;
    float: left;
    width: 100%;
    top: 5rem;
    left: 48px;
    margin: 0;
}

.nav-links a {
    color: var(--text);
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
    border-radius: 10px;    
    background-color: #282828;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        float: right;
        margin-left: 0;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        align-items: center;
        display: inline-block;
        margin: 5px 5px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    header {
        z-index: 10;
        background-color: var(--background);
        height: 60px;
        position: fixed;
        top: 0;
        width: 100%;
        float: left;
        box-shadow: 0px 1px 10px black;
    }
}


@media screen and (max-width: 636px) {
    .nav-links {
        display: none;
        height: 100%;
        
    }
    
    .nav-links a {
        float: left;
        height: 100%;
        vertical-align: middle;
        padding: 0px 20px;
        
    }
    header nav {

        position: relative
    }
    header {
        z-index: 10;
        background-color: var(--background);
        box-shadow: 0px 1px 10px black;
        position: fixed;
        top: 0;
        height: 50px;
        padding: 10px 0px;
        justify-content: center;
        width: 100%;
        float: left;

    }
}