*{  
    --text: #dfe0fd;
    --border: #dfe0fd96;
    --background: #1c1c1c;
    --second-background: hsl(235, 86%, 73%, 5%);
    --primary: #7d87f5;
    --secondary: #830ca4;
    --accent: #e124ee;
}

body {
  font-family: 'Victor Mono';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
    
    font-family: 'Walter Turncoat';
    font-weight: 700;
}

header {
    font-family: 'Walter Turncoat';
    font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 3.053rem; /* 48.8px */}

h2 {font-size: 2.442rem; /* 39.04px */}

h3 {font-size: 1.954rem; /* 31.2px */}

h4 {font-size: 1.563rem; /* 24.96px */}

h5 {font-size: 1.250rem; /* 20px */}

small {font-size: 0.800rem; /* 12.8px */}

html {
    background-color: var(--background);
    color: var(--text);
  }
  
body {
    margin: 0;
    width: 100%;
    line-height: 1.5;
}
  
* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

  
/* nav styles */
.hamburger {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
  
.hamburger .line {
    display: block;
    border-radius:10px;
    width: 120px;
    height: 8px;
    background-color: #4c1d95;
}

  

/* nav styles */
@media screen and (max-width: 636px) {
    header {
        display: flex;
        justify-content: center;
        width: 100%;
        float: left;
        margin-top: 1rem;
    }
}

.nav-links {
    width: 100%;
    text-align: center;
    float: left;
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
}

.nav-links a {
    padding: 5px;
    color: var(--text);
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
    border-radius: 10px;
    background-color: #1a1a1a;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        float: right;
        margin-left: 0;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        align-items: center;
        display: inline-block;
        margin: 5px 5px;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .hamburger {
        float: left;
        display: none;
      }
    header {
        background-color: var(--background);
        height: 60px;
        position: fixed;
        top: 0;
        width: 100%;
        float: left;
        box-shadow: 0px 1px 10px black;
    }
}


