---
import Social from './Social.astro';
---

<style>
    footer {
      width: 97%;
      background-color: black;
      min-height: 100px;
      float: left;
      padding: 20px;
      box-shadow: 0px -4px var(--border);
      margin-left: 1.5%;
      margin-right: 1.5%;
    }
    .social {
      float: right;
      margin-right: 20px;
    }
    .others {
      float: left;
    }
</style>

<footer>
    <div class="element social">
      <Social platform="twitter" username="astrodotbuild" path="/twitter.svg"/>
      <Social platform="github" username="withastro" path="github.svg"/>
      <Social platform="youtube" username="astrodotbuild" path="youtube.svg"/>
    </div>
    <div class="element others">
      <div>s</div>
    </div>
</footer>