---
import About from '../components/Footer/about.astro';
import Contact from '../components/Footer/contact.astro';
import Page from '../components/Footer/pages.astro';
import Service from '../components/Footer/services.astro';
import Main from '../components/Footer/main.astro';
---

<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->
<style>
    footer {
      box-shadow: 0px 1px 50px rgb(0, 0, 0);
      float: left;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: var(--secondary-background);
      font-family: monospace;
      font-size: +18px;
    }
    @media screen and (min-width: 636px) {
        .bottom {
            margin: 48px;
        }

    }
    @media screen and (max-width: 636px) {
        .bottom {
            margin: 12px;
        }
        .mobile {
          padding-top: 0px;
        } 
    }
    
    
</style>

<footer class="bg-white dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 pb-6 pt-16 sm:px-6 lg:px-8 lg:pt-24 mobile">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <Main />

      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-4 lg:col-span-2">
        <About />
        <Service />
        <Page />
        <Contact />
      </div>
    </div>

    <div class="border-t border-gray-100 pt-6 dark:border-gray-800 bottom">
      <div class="text-center sm:flex sm:justify-between sm:text-left">
        <p class="text-sm text-gray-500 dark:text-gray-400">
          <span class="block sm:inline">All right not reserved.</span>

          <a
            class="inline-block text-teal-600 underline transition hover:text-teal-600/75 dark:text-teal-500 dark:hover:text-teal-500/75"
            href="https://www.google.com/"
          >
            Google
          </a>

          <span>&middot;</span>

          <a
            class="inline-block text-teal-600 underline transition hover:text-teal-600/75 dark:text-teal-500 dark:hover:text-teal-500/75"
            href="https://github.com/salko-ua/salko-ua.site/blob/main/LICENSE"
          >
            License
          </a>
        </p>

        <p class="mt-4 text-sm text-gray-500 sm:order-first sm:mt-0 dark:text-gray-400">
          Copyright &copy; 2024 - All right not reserved
        </p>
      </div>
    </div>
  </div>
</footer>
