

<style>
    .wui-side-menu {
        position:fixed;
        top:0;
        left:0;
        width:220px;
        height:100%;
        backface-visibility:hidden;
        z-index:3;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);  
        -webkit-transition: webkit-transform 220ms ease-in-out;
        transition: transform 220ms ease-in-out;
    }
    .wui-side-menu.open {-webkit-transform: translateX(0);transform: translateX(0);} 
    .wui-side-menu.open ~ .content .side-menu-trigger {display:none;}
    .wui-side-menu.open {box-shadow: 2px 0 16px 0 rgba(0,0,0,0.3);}
    .wui-side-menu .header, 
    .wui-content-header {vertical-align:baseline;line-height:50px;}
    .wui-side-menu-pin-trigger, 
        .wui-side-menu-trigger {width:50px;height:50px;text-align:center;display: inline-block;font-size:18px;line-height: 50px;}

    .wui-side-menu .wui-side-menu-pin-trigger    {display:none;float: right;}
    .wui-side-menu .wui-side-menu-pin-trigger i  {-webkit-transition:all 0.22s ease-out;-moz-transition:all 0.22s ease-out;
                                                        -o-transition:all 0.22s ease-out;     transition:all 0.22s ease-out;}
    .wui-side-menu .wui-side-menu-items {overflow-y:auto;height: calc(100% - 50px);}
    .wui-side-menu .wui-side-menu-item {
        display:block;
        width:100%;
        padding:15px 12px ;
        border-left:5px solid transparent;
    }
    .wui-side-menu .wui-side-menu-item {height:50px}
    .wui-side-menu .wui-side-menu-item i.box-ico {margin-right:4px;}

    /* overlay */
    .wui-overlay {position:absolute;top:0;left:0;right:0;bottom:0;z-index:2;background-color: rgba(0, 0, 0, 0.1);opacity:0.5;display:none;}
    .wui-side-menu.open ~ .wui-overlay, .wui-overlay.active {display:block;} 

    /* content */
    .wui-content {z-index:1;position:absolute;top:0;right:0;bottom:0;left:0;
                -webkit-transition:all 0.22s ease-out;-moz-transition:all 0.22s ease-out;
                -o-transition:all 0.22s ease-out;transition:all 0.22s ease-out;padding:0 10px;}
    .wui-content .wui-side-menu-trigger {margin-left:-10px;}
    @media only screen and (min-width:768px){
        .wui-side-menu .wui-side-menu-pin-trigger {display:inline-block;} 
        .wui-side-menu.open {box-shadow: initial;}
        .wui-side-menu.open ~ .wui-overlay {display:none;} 
        .wui-side-menu.open ~ .wui-content .wui-side-menu-trigger {display:static;} 
        .wui-side-menu.open:not(.pinned) ~ .wui-overlay {display:block;}
        .wui-side-menu.open:not(.pinned) {box-shadow: 2px 0 16px 0 rgba(0,0,0,0.3);}
        .wui-side-menu.open.pinned ~ .wui-content {left:220px;}
    }
    ul.wui-side-menu-items {list-style: none;padding:0}

    .wui-side-menu {background-color: #292e34;color:#ddd;}
    .wui-side-menu .wui-side-menu-trigger:hover,
    .wui-side-menu-item:hover,
    .wui-side-menu-pin-trigger:hover
        {color: #fff;background-color: #383f45;}

    .wui-side-menu a 
    {color:#ccc;text-decoration:none}
    .wui-side-menu .wui-side-menu-item.active
        {border-left-color: #158439; color:#158439}
    .wui-content a {color:#000;}


    /* demo */
    body {margin:0; font-family:'arial';font-weight:100;}
    *, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .bar-menu {
        height: 35px;
        width: 30px;
        margin-left: 10px;
    }
    .bars {
        height: 35px;
        width: 30px ;
        margin: 10px;
    }
    @media only screen and (min-width:768px) {
        .main {
            display: none;
        }
        .bars2 {
            display: none;
        }
    }
</style>



<div class="main wui-side-menu open pinned" data-wui-theme="white">
    <div class="wui-side-menu-header">
        <a href="#" class="bars wui-side-menu-trigger">
            <svg class='bar-menu2' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
        </a>
      <a href="#" class="wui-side-menu-pin-trigger">
        <i class="fa fa-thumb-tack"></i>
      </a>
    </div>    
    <ul class="wui-side-menu-items">
      <li>
        <a href="/" class="wui-side-menu-item" id="link-to-page">
          <i class="box-ico fa fa-music fa-fw"></i> 
          <span class="box-title">Home page</span> 
        </a>
      </li>
      <li>
        <a href="/about" class="wui-side-menu-item" id="link-to-page">
          <i class="box-ico fa fa-list-ol fa-fw"></i>
          <span class="box-title">About me</span> 
        </a>
      </li>
      <li>
        <a href="/projects" class="wui-side-menu-item" id="link-to-page">
          <i class="box-ico fa fa-users fa-fw"></i>
          <span class="box-title">My projects</span> 
        </a>
      </li>
    </ul>
  </div>
  <div class="md:hidden wui-content">
    <div class="wui-content-header">
        <a href="#" class="bars2 wui-side-menu-trigger">
            <svg class='bar-menu' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
        </a>
    </div> 
  </div>
<div class="wui-overlay"></div>
  
  



