---
import Navigation from './Navigation.astro';
import Logotype from './Logotype.astro';
import Hamburger from './Hamburger.astro'
---

<header>
  <nav>
    <Hamburger />
    <Logotype padding="10px" margin="5px" color=""/>
    <Navigation />
  </nav>
</header>