---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import Logotype from './Logotype.astro';
---
<style>
  header {
    width: 100%;
    float: left;
  }
</style>

<header>
  <nav>
    <Hamburger />
    <Logotype />
    <Navigation />
  </nav>
</header>