---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import Logotype from './Logotype.astro';
---

<header>
  <nav>
    <Hamburger />
    <Logotype />
    <Navigation />
  </nav>
</header>