---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import Logotype from './Logotype.astro';
---

<header>
  <nav>
    <Hamburger />
    <Logotype padding="10px" margin="5px" color="transparent"/>
    <Navigation />
  </nav>
</header>