---
---

<style>
    .logotype {
        display: none;
        top: 5rem;
        left: 48px;
        margin: 0;
        color: black;
    }

    .logotype a {
        display: none;
        display: block;
        text-align: center;
        padding: 10px 0;
        color: black;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    @media screen and (min-width: 636px) {
        .logotype {
            float: left;
            margin-left: 0;
            display: block;
            position: static;
            width: auto;
            background: none;
        }

        .logotype a {
            display: inline-block;
            padding: 15px 20px;
        }
        .logotype {
            float: left;
        }
        }

</style>

<div class="logotype">
    <a href="/">SALKO-UA</a>
</div>