---
---

<style>
    .nav-links-element {
        float: left;
        margin-right: 5px;
    }
</style>

<div class="nav-links">
    <a href="/">
        <div class="nav-links-element">Home</div> 
        <div class="nav-links-element">
            <img src="/home.svg" alt="home.icon" height="25" width="25">
        </div>
    </a>
    <a href="/about">
        <div class="nav-links-element">About</div> 
        <div class="nav-links-element">
            <img src="/about.svg" alt="anout.icon" height="25" width="25">
        </div>
    </a>
    <a href="/projects">
        <div class="nav-links-element">Projects</div> 
        <div class="nav-links-element">
            <img src="/projects.svg" alt="projects.icon" height="25" width="25">
        </div>
    </a>
</div>