---
---

<style>
    .nav-links-element {
        float: left;
        margin-right: 5px;
    }
</style>

<div class="nav-links">
    <a href="/">
        <div class="nav-links-element">Home</div> 
        <div class="nav-links-element">
            <img src="../../public/home.svg" alt="home" height="25" width="25">
        </div>
    </a>
    <a href="/about">
        <div class="nav-links-element">About</div> 
        <div class="nav-links-element">
            <img src="../../public/about.svg" alt="anout" height="25" width="25">
        </div>
    </a>
    <a href="/projects">
        <div class="nav-links-element">Projects</div> 
        <div class="nav-links-element">
            <img src="../../public/projects.svg" alt="projects" height="25" width="25">
        </div>
    </a>
</div>