---
const { platform, username, path } = Astro.props;
---
<div>
  <a href={`https://www.${platform}.com/${username}`}>
    <img src={path} alt={platform} height="35" width="35">
  </a>
</div>

<style>
    a {
      padding: 0.5rem;
      color: var(--text);
      display: flex;
      max-width: 100px;
      font-family: monospace;
      text-decoration: none;
    }
    img {
      margin-left: 5px;
    }
    div {
      float: left;
    }
  </style>