---
import BaseLayout from '../../layouts/BaseLayout.astro';
import LayoutPage from '../../layouts/LayoutPage.astro';
const pageTitle = "Fourth Project";
---
<BaseLayout pageTitle={pageTitle}>
	<LayoutPage>
		<h1>{pageTitle}</h1>
	</LayoutPage>
</BaseLayout>