---
import BaseLayout from '../../layouts/BaseLayout.astro';
import LayoutPage from '../../layouts/LayoutPage.astro';
const pageTitle = "ParseBot";
---

<style>
	.center {
		height: 100px;
		display: flex;
		justify-content: center;
		height: 100%;
	}
</style>

<BaseLayout pageTitle={pageTitle}>
	<LayoutPage>
		<div class="center">
			<h1>{pageTitle}</h1>
		</div>
	</LayoutPage>
</BaseLayout>