<div class="text-center sm:text-left">
    <p class="text-lg font-medium text-gray-900 dark:text-white">Helpful Links</p>

    <ul class="mt-8 space-y-4 text-sm">
      <li>
        <a
          class="text-gray-700 transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
          href="#"
        >
          FAQs
        </a>
      </li>

      <li>
        <a
          class="text-gray-700 transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
          href="#"
        >
          Support
        </a>
      </li>

      <li>
        <a
          class="group flex justify-center gap-1.5 ltr:sm:justify-start rtl:sm:justify-end"
          href="#"
        >
          

          
        </a>
      </li>
    </ul>
  </div>