<style>
  @media screen and (max-width: 636px) {
      .hide {
          display: none;
      }
      li {
        float: left;
        padding: 10px;
        margin-top: 16px;
      }
      ul {
        margin-top: 0px;
        display: flex;
        justify-content: center;
      }
      li a {
        font-size: 16px;
        font-weight: 300;
        font-family: 'Walter Turncoat';
      }
      p {
        font-family: 'Walter Turncoat';
        font-size: 26px;
        font-weight: bold;
      }
  }
  p {
      font-family: 'Walter Turncoat';
  }

</style>


<div class="text-center sm:text-left">
    <p class="text-lg font-medium text-gray-900 dark:text-white">All Pages</p>

    <ul class="mt-8 space-y-4 text-sm">
      <li>
        <a
          class="text-gray-700 transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
          href="/"
        >
            Home
        </a>
      </li>

      <li>
        <a
          class="text-gray-700 transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
          href="/about"
        >
            About
        </a>
      </li>

      <li>
        <a
          class="text-gray-700 transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
          href="/projects"
        >
            Projects
        </a>
      </li>
    </ul>
</div>