<style>
    @media screen and (max-width: 636px) {
        .hide {
            display: none;
        }
    }
    p {
      font-family: 'Walter Turncoat';
    }
  </style>

<div class="text-center sm:text-left hide">
    <p class="text-lg font-medium text-gray-900 dark:text-white">Find Me</p>

    <ul class="mt-8 space-y-4 text-sm">
      <li>
        <a
          class="text-gray-700 transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
          href="https://github.com/salko-ua"
        >
          GitHub
        </a>
      </li>

      <li>
        <a
          class="text-gray-700 transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
          href="https://t.me/salkooua"
        >
          Telegram
        </a>
      </li>

      <li>
        <a
          class="text-gray-700 transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
          href="https://twitter.com/salko_ua"
        >
          Twitter
        </a>
      </li>

    </ul>
  </div>