---
---
<style>
    .main-layout{
        padding: 2rem;
        float: left;
        min-height: 600px;
        min-width: 100%;
        height: 100%;
    }
</style>

<div class="main-layout">
    <slot />
</div>