---
---
<style>
    .main-layout{
        
        margin-top: 60px;
        padding: 2rem;
        margin-bottom: 30px;
        float: left;
        min-height: 1200px;
        min-width: 100%;
        height: 100%;
        
    }
    .second-layout {
        padding-left: 20px;
        background-color: var(--second-background);
        min-height: 1200px;
        min-width: 100%;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
</style>

<div class="main-layout">
    <div class="second-layout">
        <slot />
    </div>
</div>